@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin card {
  background-color: $card;
  border-radius: $radius;
}

@mixin tag($color, $bg) {
  color: $color;
  background-color: $bg;
  border-radius: 10px;
  font-size: $fs-xs;
  padding: 2px 10px;
}
